* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

html {
    font-size: 62.5%;
}

body {
    background-color: #f2eee5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    width: 800px;
    background-color: white;
    display: flex;
    align-content: center;
    border-radius: 18px;
    font-family: Montserrat;
}

.image {
    width: 400px;
    height: 600px;
    border-radius: 18px 0px 0px 18px;
}

.contenido {
    margin-left: 30px;
    font-size: 20px;
}

.perfume {
    font-family: Fraunces;
    color: #c7c7ca;
    margin: 20px 0px;
    font-size: 18px;
}

.extra {
    padding-top: 20px;
    font-size: 18px; 
    color: #c7c7ca;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
}

.precio {
    display: flex;
    padding: 20px 0px 20px 0px;
    align-items: center;
}

.venta{
    padding-right: 20px;
    color: rgba(79,127,106,255);
    font-weight: bold;
    font-size: 40px;
}

.mentira {
    text-decoration: line-through;
    color: #c7c7ca;
}

