* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

html {
    font-size: 62.5%;
}

body {
    background-color: #f2eee5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    width: 800px;
    background-color: white;
    display: flex;
    align-content: center;
    border-radius: 18px;
    font-family: Montserrat;
}

.image {
    width: 400px;
    height: 600px;
    border-radius: 18px 0px 0px 18px;
}

.contenido {
    margin-left: 30px;
    font-size: 20px;
}

.perfume {
    font-size: Fraunces;
    color: #c7c7ca;
}

.extra {
    font-size: 14px; 
}


